# Secrets
.env

# Volumes
data/
prometheus_data/
grafana_data/
homepage/
freshrss/
vw-data/
conf/
**/ts-*-config/

#Prometheus config
prometheus.yml

# Logs
*.log

# Local overrides if any
docker-compose.override.yml

# OS junk
.DS_Store
