# Secrets
.env
sops_age_key.txt

# Volumes
data/
prometheus_data/
grafana_data/
homepage/
freshrss/
vw-data/
conf/
lidarr/
qBittorrent/
prowlarr/

**/ts-*-config/
adguard/
ha-scrape.yml
renovate-data/

#AI stuff
obsidian/
models/
presets.ini

#Prometheus config
prometheus.yml


# Logs
*.log

# Local overrides if any
docker-compose.override.yml

# OS junk
.DS_Store
