# Secrets
.env

# Experimental router implementation
router/

# Volumes
data/
prometheus_data/
grafana_data/
homepage/
vw-data/
conf/
**/ts-*-config/

# Logs
*.log

# Local overrides if any
docker-compose.override.yml

# OS junk
.DS_Store
